<!DOCTYPE html>
<head>
    <title>Notification Mail</title>
    <style>
        .common{
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 20px;
            background-color:yellow;
        }
        h1{
            text-align:center;
        }
        p{
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="common">
        <h1>Hello ......<%= name %></h1>
        <p>You are Successfully <%= data %></p>
        <h1 style="font-size:5em">&#9989;</h1>
    </div>
    
</body>
</html>