<!DOCTYPE html>
<head>
    <title>...Login Mail...</title>
    <style>
        .sign{
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 20px;
            background-color:yellow;
        }
        h1{
            text-align:center;
        }
        p{
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="sign">
        <h1>Thank You ......<%= name %></h1>
        <p>You are Successfully Login to the Book Shop Application</p>
        <h1 style="font-size:5em">&#128218;</h1>
        <p>Enjoy while Reading the Book</p>

    </div>
    
</body>
</html>