<!DOCTYPE html>
<html>
<head>
    <title>Welcome Mail</title>
    <style>
        h1{
            text-align: center;
            color: green;
        }
        p{
            text-align: center;
        }
        /* img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 100px;
            text-align: center;
        } */
        #div1{
            background-color: red;
            border :3px solid;
            margin : auto;
            height: 100px;
            color: yellow;
            padding-bottom: 10px;
        }
        #div2{
            
            background-color: aqua;
            border :3px solid;
            color: red;
            height: 200px;
            padding-top: 10px;
            padding-bottom: 10px;
        }    
    </style>
</head>
<body>
    <!-- <div>
        <h1>Hello </h1>
        <p>Thank you for signing in the Book shop Application</p>
    </div> -->
    <h1>Thank You <%=name%>!!!</h1>
    <div id="div1">
        <h1>WELCOME !!!</h1>
        <p>You Are Successfully signedup in the Book shop Application</p>
    </div>
    <div id="div2">
        <h1 style="font-size:5em">&#128218;</h1>
        <footer>
            <p>Have a Fantastic experience</p>
        </footer>
    </div>
</body>
</html>